
h2{
    text-align: center;
    font-size: 40px;
    font-family:'Source Sans Pro';
    margin-top: 20px;

}
.btn1{

        align-self: flex-end;
        font-weight: 400;
        font-size: 17px;
        padding: 10px 16px;
        border-radius: 100px;

  }

.content-all{
    width: 150px;

    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 100px;
}

.content-carrousel{
    width: 100%;

    position: absolute;
    animation: rotar 50s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{

    width: 50%;
    height: 20px;
    background-color:  #691C32 ;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;


}

.content-carrousel figure:hover{

    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(390px);}
.content-carrousel figure:nth-child(2){transform: rotateY(18deg) translateZ(390px);}
.content-carrousel figure:nth-child(3){transform: rotateY(36deg) translateZ(390px);}
.content-carrousel figure:nth-child(4){transform: rotateY(54deg) translateZ(390px);}
.content-carrousel figure:nth-child(5){transform: rotateY(72deg) translateZ(390px);}
.content-carrousel figure:nth-child(6){transform: rotateY(90deg) translateZ(390px);}
.content-carrousel figure:nth-child(7){transform: rotateY(108deg) translateZ(390px);}
.content-carrousel figure:nth-child(8){transform: rotateY(126deg) translateZ(390px);}
.content-carrousel figure:nth-child(9){transform: rotateY(144deg) translateZ(390px);}
.content-carrousel figure:nth-child(10){transform: rotateY(162deg) translateZ(390px);}
.content-carrousel figure:nth-child(11){transform: rotateY(180deg) translateZ(390px);}
.content-carrousel figure:nth-child(12){transform: rotateY(198deg) translateZ(390px);}
.content-carrousel figure:nth-child(13){transform: rotateY(216deg) translateZ(390px);}
.content-carrousel figure:nth-child(14){transform: rotateY(234deg) translateZ(390px);}
.content-carrousel figure:nth-child(15){transform: rotateY(252deg) translateZ(390px);}
.content-carrousel figure:nth-child(16){transform: rotateY(270deg) translateZ(390px);}
.content-carrousel figure:nth-child(17){transform: rotateY(288deg) translateZ(390px);}
.content-carrousel figure:nth-child(18){transform: rotateY(306deg) translateZ(390px);}
.content-carrousel figure:nth-child(19){transform: rotateY(324deg) translateZ(390px);}
.content-carrousel figure:nth-child(20){transform: rotateY(342deg) translateZ(390px);}
.content-carrousel figure:nth-child(21){transform: rotateY(360deg) translateZ(390px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
