main{
    padding: 1%;
    display: flex;
    justify-content: center;
    font-family:'Source Sans Pro';

  }

  .section-data{
    width:90%;
      max-width:650px;
        display:fit-content ;

  }
  /*modificar las cards de la derechas*/
  .cards-wrapper{
    max-width: 950px;
  }
  .section-title{
    font-size: 3rem;
    font-weight: 750;
    line-height: 130%;
    margin-bottom: 2rem;
  }
  .section-description{
    font-size: 1.2rem;
    width: 90%;
    line-height: 150%;
    margin-bottom: 3rem;


  }
  .btn{
    transition: all .12s ease-in-out;
    transition-delay: .1s;
    border-radius: .2em;
    color: #000;

  }

  .cards-wrapper{
    width: 250%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
    border: none;
  }
  .card{
    border: none;
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 1.9rem;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.12);
    position: relative;
    z-index: 1;
    overflow: hidden;
    width:90%;
    height:auto;

  }
  .card--data, .card-img-wrapper {
    width: 50%;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    z-index: 3;

  }
  .card--data{
    justify-content: space-between;
      z-index: 2;
  }

  .card--months{
    font-size: .9rem;
        z-index: 2;
  }
  .card--title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
    line-height: 130%;
        z-index: 2;
  }
  .course-type{
    color: orangered;
  }
  .card-img-wrapper img{
    width: 100%;
    z-index: 2;

  }
  .card-img-deco{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 1;
    right: -50px;
    background-color: #BC955C;
    transition: all ease-in-out .35s;
  }
  .card:hover .card-img-deco{
    width: 450px;
    border-radius: unset;
    height: 300px

  }
  .deco-2{
    background-color: #DDC9A3;
  }
  .deco-3{
    background-color: #DDc9A3;
  }
  .deco-4{
    background-color: #BC955C;
  }
  .deco-5{
    background-color: #BC955C;
  }

  .deco-6{
    background-color: #DDc9A3 ;
  }
  .deco-7{
    background-color: #DDc9A3 ;
  }
  .deco-8{
    background-color: #BC955C ;
  }
  .deco-9{
    background-color: #BC955C ;
  }
  .deco-10{
    background-color: #DDc9A3  ;
  }
  @media screen and (max-width: 1200px){
    main{
      flex-flow: column;
    }
    .section-data, .cards-wrapper{
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }
    .section-data{
      margin-bottom: 4rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
       text-align: center;
    }
    .cards-wrapper{
      place-items: center;
    }

  }
