
.body_1 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  border: 0;
  overflow-x: hidden;
  overflow-y:visible;
  background-size: cover;

}


#cont{

    margin-top: 700px;
}


label, input#reset {
    font-family:'Source Sans Pro';
  display: inline-block;
  width: 80%;
  margin: 0;
  margin-top: 1.5vmin;
  cursor: pointer;
  color: rgba(150,0,0,0.7);
  border: 0;
  padding: 0;
  font-size: 3vmin;
  background: transparent;
  outline: none;
}

label::after, input#reset {
  content: " \203A";
}



#magician {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vmin;
  height: 50vmin;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 1;
}

#magician div {
  position: absolute;
}

#head {
  top: 10%;
  left: 20%;
  width: 60%;
  height: 30%;
}


.bubble {
  border-radius: 10px;
  padding: 1vmin;
  background: #dd5;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  color: black;
  font-size: 3vmin;
  font-family: Kreon, arial, sans-serif;
  display: none;
}

.bubble::after {
  content: "";
  width: 6vmin;
  height: 6vmin;
  display: block;
  position: absolute;
  bottom:-3vmin;
  right: 0;
  border-radius: 100%;
  box-shadow: inset 1.5vmin 0 0 #dd5;
}

.bubble.right::after {
  right: auto;
  left: 0;
  box-shadow: inset -1.5vmin 0 0 #dd5;
}

.bubble.right label,
.bubble.right input {
  text-align: right;
  width: 100%;
}

#bubble-1 {
  transform: translate(-49vmin, -32vmin);
  -webkit-transform: translate(-49vmin, -32vmin);
  width: 35vmin;
}

#bubble-2 {
  transform: translate(10vmin, -34vmin);
  -webkit-transform: translate(10vmin, -34vmin);
  width: 37vmin;
}

#bubble-3 {
  transform: translate(-49vmin, -32vmin);
  -webkit-transform: translate(-49vmin, -32vmin);
  width: 35vmin;
}

#bubble-4 {
  transform: translate(10vmin, -34vmin);
  -webkit-transform: translate(10vmin, -34vmin);
  width: 37vmin;
}

#step-1:checked ~ #bubble-1,
#step-2:checked ~ #bubble-2,
#step-3:checked ~ #bubble-3,
#step-4:checked ~ #bubble-4 {
  display: block;
}

input[name=step] {
  position: absolute;
  top: -200vmax;
  left: -200vmax;
  display: none;
}

.cards {
  position: absolute;
  width: 90vmin;
  height: 20vmin;
  top: 54%;
  left: 200vmax;
  z-index: 200;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  display: flex;
  display: -webkit-flex;
  transition: left 2s;
  cursor:pointer;
}

#cards-1{
  width: 74.5vmin;
}

.card {
  position: relative;
  flex:1;
  margin-left: 3vmin;
  background: #eee;
  border-radius: 1vmin;

}

.card .let {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: arial, verdana, sans-serif;
}

.card.red .let,
.card.red .sym {
  color: #e44;
}

.card .let::before,
.card .let::after,
.card .sym::before,
.card .sym::after {
  content: attr(data-val);
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.75vmin;
  font-weight: bold;
  margin-top: 0.75vmin;
  margin-left: 0.5vmin;
}

.card .let::after,
.card .sym::after{
  transform: rotateX(-180deg) rotateY(180deg);
  margin-left: -0.4vmin;
  margin-top: -0.75vmin;
}

.card .sym::before {
  margin-top: 2.5vmin;
}

.card .sym::after {
  margin-top: -2.5vmin;
}

.card .sym.big::before,
.card .sym.big::after {
  font-size: 4.5vmin;
  margin-top: 1.5vmin;
  margin-left: 2.2vmin;
}

.card .sym.big::after {
  margin-top: -1.5vmin;
  margin-left: -2.2vmin;
}

.card .figure {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
}

.card.red .figure {
  background: #e44;
}

.card .figure.person::before,
.card .figure.person::after {
  content:"";
  position: absolute;
  top: 32%;
  left: 47%;
  height:1vmin;
  width: 3vmin;
  box-shadow: inset 0.4vmin 0 0 #444, inset 1vmin 0 0 #eee, inset -0.6vmin 0 0 #eee, inset -1vmin 0 0 #444;
}

.card .figure.person::after {
  top: auto;
  left: auto;
  bottom: 32%;
  right: 47%;
  height: 1vmin;
  box-shadow: inset -0.4vmin 0 0 #444, inset -1vmin 0 0 #eee, inset 0.6vmin 0 0 #eee, inset 1vmin 0 0 #444;
}

.card .figure.hands {
  background: none;
}

.card .figure.hands::before,
.card .figure.hands::after {
  content: "";
  display: block;
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  border-radius: 100%;
  background-color: #e44;
  top: 30%;
  left: 20%;
}

.card .figure.hands::after {
  bottom: 30%;
  right: 20%;
  left: auto;
  top: auto;
}

.card.red .figure.hands::before,
.card.red .figure.hands::after {
  background-color: #111;
}

.figure.king {
  clip-path: polygon(20% 50%, 60% 15%, 60% 25%, 70% 15%, 70% 25%, 80% 15%, 80% 50%, 40% 85%, 40% 75%, 30% 85%, 30% 75%, 20% 85%);
  -webkit-clip-path: polygon(20% 50%, 60% 15%, 60% 25%, 70% 15%, 70% 25%, 80% 15%, 80% 50%, 40% 85%, 40% 75%, 30% 85%, 30% 75%, 20% 85%);
}

.card .figure.person {
    box-shadow: inset 0 3.6vmin 0 rgba(255,0,0,0.5), inset 0 -3.6vmin 0 rgba(255,0,0,0.5), inset 0 5.5vmin 0 #dd5, inset 0 -5.5vmin 0 #dd5, inset 0 9vmin 0 #eaa, inset 0 -9vmin 0 #eaa;
}

.card.red .figure.person {
  box-shadow: inset 0 3.6vmin 0 rgba(255,0,0,0.5), inset 0 -3.6vmin 0 rgba(255,0,0,0.5), inset 0 5.5vmin 0 #dd5, inset 0 -5.5vmin 0 #dd5, inset 0 9vmin 0 #eaa, inset 0 -9vmin 0 #eaa;
}

.figure.queen {
  clip-path: polygon(20% 50%, 50% 27%, 50% 15%, 58% 25%, 65% 15%, 72% 25%, 80% 15%, 80% 50%, 50% 73%, 50% 85%, 42% 75%, 35% 85%, 28% 75%, 20% 85%);
  -webkit-clip-path: polygon(20% 50%, 50% 27%, 50% 15%, 58% 25%, 65% 15%, 72% 25%, 80% 15%, 80% 50%, 50% 73%, 50% 85%, 42% 75%, 35% 85%, 28% 75%, 20% 85%);
}

.figure.jack {
  clip-path: polygon(20% 50%, 50% 27%, 50% 20%, 60% 15%, 70% 15%, 80% 20%, 80% 50%, 50% 73%, 50% 80%, 40% 85%, 30% 85%, 20% 80%);
  -webkit-clip-path: polygon(20% 50%, 50% 27%, 50% 20%, 60% 15%, 70% 15%, 80% 20%, 80% 50%, 50% 73%, 50% 80%, 40% 85%, 30% 85%, 20% 80%);
}

.card:nth-child(1) {
  margin-left:0;
}

#step-2:checked ~ #cards-1 {
  left: 50%;
}

#step-4:checked ~ #cards-1 {
  left: 50%;
}


